html {
  font-size: 10px;
  background-color: #ffc0cb;

  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid white;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: #a1cdf4;
  font-style: italic;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.playing {
  transform: scale(1.1);
  border-color: #a1cdf4;
  box-shadow: 0 0 1rem #a1cdf4;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
